$dark-green: #029790
$light-green: #38cec3
$pink: #ea1b57
$light-gray: #b7b7b7

.calendarBodyWrapper
  display: flex
  flex-flow: column nowrap
  width: 50%
  background-color: #fff
  padding: 30px 10px
  text-align: center

.monthHeader
  color: $dark-green
  text-transform: uppercase
  font-weight: bold
  font-size: 30px